$wrap_transition: top 1s;
$banner_transition: height 1s;

%open {
  height: 300px;
  overflow: hidden;
}
%close {
  height: 80px;
  overflow: hidden;
}
#root {
  display: flex;
  justify-content: center;
  .banner {
    width: 1200px;
    position: relative;
    &.opened {
      @extend %open;
    }
    &.closed {
      @extend %close;
      .wrap {
        top: -300px;
      }
    }
    &.transition {
      &.opened {
        .wrap {
          top: 0px;
          transition: $wrap_transition;
        }
      }
      &.opening {
        @extend %open;
        transition: $banner_transition;
        .wrap {
          top: 0px;
          transition: $wrap_transition;
        }
      }
      &.closed {
        .wrap {
          top: -300px;
          transition: $wrap_transition;
        }
      }
      &.closing {
        transition: $banner_transition;
        @extend %close;
        .wrap {
          top: -300px;
          transition: $wrap_transition;
        }
      }
    }

    .wrap {
      position: relative;
    }
    .btn {
      position: absolute;
      right: 0;
      bottom: 0px;
      font-size: 13px;
      padding: 2px 2px 2px 8px;

      border: 1px solid black;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #a3a3a3;
      text-decoration: none;
      cursor: pointer;
      &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 2px;
        border-style: solid;
        border-width: 0 3px 3px;
        border-color: transparent transparent #a3a3a3;
      }
      &.down {
        &::after {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          margin: 2px;
          border-style: solid;
          border-width: 3px 3px 0;
          border-color: #a3a3a3 transparent transparent;
          &:hover {
            border-color: white transparent transparent;
          }
        }
      }
      &:hover {
        color: white;
        &::after {
          border-color: transparent transparent white;
        }
      }
    }
  }
}
